@page "/cities/create/{StateId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]


<h3>Crear Ciudad</h3>

<CityForm @ref="cityForm" City="city" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private City city = new();
    private CityForm? cityForm;

    [Parameter]
    public int StateId { get; set; }

    private async Task CreateAsync()
    {
        city.StateId = StateId;
        var HttpResponse = await repository.Post("/api/cities", city);
        if (HttpResponse.Error)
        {
            var message = await HttpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
    }
    private void Return()
    {
        cityForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/states/details/{StateId}");
    }
}
